<h1>Profile for <%= full_name(@user) %></h1>
<h2>Movies reviewed</h2>

<% @user.reviews.each do |review| %>
  <%= review.movie.title %><br/>
  user rating: <%= review.rating_out_of_ten %>/10<br/>
  <p><%= review.text %></p>
<% end %>

