<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  
  <body>
    <p><%= full_name(@user) %>,</P>

    <p>This is an email notification that your account has been delted</p>
  </body>
</html>
