$primaryColor: #FF0000;

body {
  font-family: Verdana;
  font-size: 1.5em;
  h1 {
    color: $primaryColor;
  }
}

#team-members {
  clear: both;

  .member {
    float: left;
    margin: 10px;
    padding: 6px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid gray;
      box-shadow: 5px 5px 3px gray;
      -webkit-transition: all 1.5;
      transition: all 1.5s;
      &:hover {
        -webkit-transform:scale(1.1);
        transform:  scale(1.1);
      }
    }
   .swap-img {
      display:none;
    } 

    &:hover img:first-child {
      display:none;
    }
    &:hover .swap-img {
      display:inline-block;
      }     
   

    div.name {
      text-align: center;
    }
  }
 

}
