<h1>Add New Song</h1>
<% if @song.errors.any? %>
  <ul class="bg-danger">
  <% @song.errors.full_messages.each do |msg| %>
    <li><%= msg %><br/></li>
  <% end %>
  </ul>
<% end %>

<form action="/new-song" method="POST">
  <div class="form-group">
    <label>Author</label>
    <input type="text" name="song[author]" class="form-control" value="<%= @song.author%>">
  </div>
  
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="song[title]" class="form-control" value="<%= @song.title %>">
  </div>

  <div class="form-group">
    <label>URL</label>
    <input type="text" name="song[url]" class="form-control" value="<%= @song.url %>">
  </div>

  <div>
    <input type="Submit" value="Submit" class="btn btn-primary">
  </div>
</form>

<p><a href="/">Back to previous page</a></p>
